{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
    <h1>Редактировать профиль</h1>
    
    <form action="" method="POST" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        
        <div class="profile-photo-container">
            {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}" alt="Profile Photo" class="profile-photo">
            {% else %}
                <img src="{{ default_photo }}" alt="Default Photo" class="profile-photo">
            {% endif %}
        </div>

        <div class="form-fields">
            {{ form.as_p }}
        </div>
        
        <button type="submit" class="save-button">Сохранить</button>
    </form>
    <div id="message-container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" id="message">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<script>
    
    setTimeout(() => {
        const message = document.getElementById('message');
        if (message) {
            message.style.display = 'none';
        }
    }, 4000);
</script>
{% endblock %}